<h3 style="color: rgb(6, 104, 35);"><u>Últimas noticias</u></h3>
<div class="container">    
  <div class="row align-items-center justify-content-center">

      <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
            <button class="btn btn-success  mr-2" routerLink="/crearadministrador/nuevo">Agregar</button> 
            <button class="btn btn-danger " routerLink="/veradministrador">Ver</button> <hr>
      </div>

  </div>


<h3 style="color: rgb(6, 104, 35);"><u>Civilizaciones antiguas</u></h3>
<div class="container">    
  <div class="row align-items-center justify-content-center">

      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <br>
            <button class="btn btn-success b mr-2" routerLink="/cma/nuevo">Agregar Misterios</button> <hr>
            <button class="btn btn-danger a" routerLink="/civimisterios">Ver Misterios</button> <hr>
      </div>

      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <button class="btn btn-success b mr-2" routerLink="/mia/nuevo">Agregar Mitología</button> <hr>
            <button class="btn btn-danger a" routerLink="/mitologia">Ver Mitología</button> <hr>
      </div>
      
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <button class="btn btn-success b mr-2" routerLink="/tea/nuevo">Agregar Templos perdidos</button> <hr>
            <button class="btn btn-danger a" routerLink="/templos">Ver Templos perdidos</button> <hr>
    </div>

  </div>

  <h3 style="color: rgb(6, 104, 35);"><u>Geopolítica</u></h3>
  <div class="container">    
  <div class="row align-items-center justify-content-center">
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <br>
            <button class="btn btn-success b mr-2" routerLink="/coa/nuevo">Agregar Corrupción</button> <hr>
            <button class="btn btn-danger a" routerLink="/corrupcion">Ver Corrupción</button> <hr>
      </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <button class="btn btn-success b mr-2" routerLink="/ila/nuevo">Agregar Iluminatis</button> <hr>
            <button class="btn btn-danger a" routerLink="/iluminatis">Ver Iluminatis</button> <hr>
      </div>
   </div>

   <h3 style="color: rgb(6, 104, 35);"><u>Misterios</u></h3>
   <div class="container">    
   <div class="row align-items-center justify-content-center">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <br>
             <button class="btn btn-success b mr-2" style="color:rgb(255, 255, 255);" routerLink="/caa/nuevo">Agregar Casas encantadas</button> <hr>
             <button class="btn btn-danger a" routerLink="/casas">Ver Casas encantadas</button> <hr>
       </div>
       <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
             <button class="btn btn-success b mr-2" style="color:rgb(255, 255, 255);" routerLink="/esa/nuevo">Agregar Espíritus</button> <hr>
             <button class="btn btn-danger a" routerLink="/espiritus">Ver Espíritus</button> <hr>
       </div>
       <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
               <button class="btn btn-success b mr-2" style="color:rgb(255, 255, 255);" routerLink="/via/nuevo">Agregar Viajes en el tiempo</button> <hr>
               <button class="btn btn-danger a" routerLink="/viajes">Ver Viajes en el tiempo</button> <hr>
       </div>
     </div>
   
   
   
   <h3 style="color: rgb(6, 104, 35);"><u>Ufología</u></h3>
   <div class="container">    
   <div class="row align-items-center justify-content-center">
        <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
          <br>
             <button class="btn btn-success b mr-2" routerLink="/aba/nuevo">Agregar Abducciones</button> <hr>
             <button class="btn btn-danger a" routerLink="/abducciones">Ver Abducciones</button> <hr>
       </div>
       <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
             <button class="btn btn-success b mr-2" routerLink="/ara/nuevo">Agregar Archivos desclasificados</button> <hr>
             <button class="btn btn-danger a" routerLink="/archivos">Ver Archivos desclasificados</button> <hr>
       </div>
       <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <button class="btn btn-success b mr-2" routerLink="/baa/nuevo">Agregar Bases secretas</button> <hr>
            <button class="btn btn-danger a" routerLink="/bases">Ver Bases secretas</button> <hr>
      </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <button class="btn btn-success b mr-2" routerLink="/ova/nuevo">Agregar Ovnis</button> <hr>
            <button class="btn btn-danger a" routerLink="/ovnis">Ver Ovnis</button> <hr>
      </div>
    </div>


    <h3 style="color: rgb(6, 104, 35);"><u>Universo</u></h3>
    <div class="container">    
    <div class="row align-items-center justify-content-center">
      <br>
        <div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
              <button class="btn btn-success b mr-2" routerLink="/exax/nuevo">Agregar Exoplanetas</button> <hr>
              <button class="btn btn-danger a" routerLink="/exoplanetas">Ver Exoplanetas</button> <hr>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">        
              <button class="btn btn-success b mr-2" routerLink="/aga/nuevo">Agregar Agujeros de gusano</button> <hr>
              <button class="btn btn-danger a" routerLink="/gusano">Ver Agujeros de gusano</button> <hr>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
             <button class="btn btn-success b mr-2" routerLink="/lua/nuevo">Agregar La Luna</button> <hr>
             <button class="btn btn-danger a" routerLink="/luna">Ver La Luna</button> <hr>
       </div>
       <div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
             <button class="btn btn-success b mr-2" routerLink="/mma/nuevo">Agregar Misterios de Marte</button> <hr>
             <button class="btn btn-danger a" routerLink="/marte">Ver Misterios de Marte</button> <hr>
       </div>
       <div class="col-12 col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
            <button class="btn btn-success b mr-2" routerLink="/nea/nuevo">Agregar Agujeros negros</button>
            <hr>
            <button class="btn btn-danger a" routerLink="/negro">Ver Agujeros negros</button> <hr>
      </div>
     </div>
  
   

  <button class="btn btn-outline-danger" (click)="salir()">Salir</button>  <br>
  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
</div>

