<div class="row">
    <div class="col">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark estrellas">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-paw" aria-hidden="true" style="margin-right: 5px;"></i><span>Ufología</span></a>
                <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/ovniscliente']">Ovnis</a>
                    <br>
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/archivoscliente']">Archivos desclasificados</a>
                    <br>
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/basescliente']">Bases secretas</a>
                    <br>
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/abduccionescliente']">Abducciones</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true" style="margin-right: 5px;"></i><span>Civilizaciones antiguas</span></a>
                <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/temploscliente']">Templos perdidos</a>
                    <br>
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/civimisteriocliente']">Misterios</a>
                    <br>
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/mitologiacliente']">Mitología</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-suitcase" aria-hidden="true" style="margin-right: 5px;"></i><span>Geopolítica</span></a>
                <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/corrupcioncliente']">Corrupción</a>
                    <br>
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/iluminatiscliente']">Illuminatis</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-magic" aria-hidden="true" style="margin-right: 5px;"></i><span>Misterios</span></a>
                <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/espirituscliente']">Espíritus</a>
                    <br>
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/casascliente']">Casas encantadas</a>
                    <br>
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/viajescliente']">Viajes en el tiempo</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-space-shuttle" aria-hidden="true"style="margin-right: 5px;"></i><span>Universo</span></a>
                <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/exoplanetascliente']">Exoplanetas</a>
                    <br>
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/martecliente']">Misterios de Marte</a>
                    <br>
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/lunacliente']">La Luna</a>
                    <br>
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/negrocliente']">Agujeros negros</a>
                    <br>
                    <a class="navbar-brand"></a>
                    <a class="enlaces" [routerLink]="['/gusanocliente']">Agujeros de gusano</a>
                </div>
            </li>
            <div class="dropdown-divider"></div>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users" aria-hidden="true" style="margin-right: 5px;"></i> Redes sociales</a>
                <div class="dropdown-menu estrellas" aria-labelledby="navbarDropdown">
                    <a class="navbar-brand"></a>
                    <a class="navbar-brand" href="https://www.facebook.com/universodelaufologiaymisterios/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                    <a class="navbar-brand" href="https://www.youtube.com/channel/UCXRy4ZnmYm9-px_72xQgj5g?sub_confirmation=1"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                    <a class="navbar-brand" href="https://z-p42.www.instagram.com/universodelaufologia/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a class="navbar-brand" href="https://twitter.com/deufologia"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                </div>
            </li>
        </ul>
    </div>
    <!-- <a class="navbar-brand" [routerLink]="['/administrador']"><small class="btn btn-muted">Administrador</small></a> -->
    <a class="navbar-brand" [routerLink]="['/administrador']"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
 
    <!-- <a class="navbar-brand" href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a> -->
    <a class="navbar-brand" href="mailto:universodelaufologiaymisterios@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
        <a class="nav-link colorenlaces" [routerLink]="['/home']"><span>Últimas<img src="../assets/imagenes/LOGO.png" width="30" alt="">noticias</span></a>
    </nav>
  </div>
</div>