<h3 style="color: rgb(6, 104, 35);"><u>Ufología</u> (<small style="color:  rgb(42, 199, 11);">Archivos desclasificados</small>)</h3>
<br>
<button class="btn btn-success mr-5" routerLink="/ara/nuevo"><i class="fa fa-plus"></i>  Agregar</button>
<button class="btn btn-danger " routerLink="/administrador">Volver al menú   <i class="fa fa-arrow-right "></i></button>
<div class="row">
  <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 " *ngFor="let cliente of clientes">
    <hr>
    <div class="card-deck">
        <div class="card" >
          <h1 class="card-title text-center"><u>{{cliente.titulo}}</u></h1>
          <img class="card-img-top" [src]="cliente.imgUrl" >
          <!-- <div class="card" *ngFor="let dj of jd; let i = index"> -->
                <!-- <img class="card-img-top" *ngFor="let item of items | async"> -->
  <div class="card-body">
    <p class="card-text">{{cliente.descripcion}}</p>
    <p class="card-text"><a href="{{cliente.weburl}}" *ngIf=cliente.weburl>Ir al enlace</a></p>
    <!-- PARA MOSTRAR ENLACE SI EXISTE (*ngif) Y REDIRIGE (href)-->
  </div>
  <div class="card-footer">
    <!-- <label *ngIf="dj.novedad" class="badge badge-danger">¡¡¡Novedad!!!</label>
    <label *ngIf="!dj.novedad" class="badge badge-primary">Noticias</label>
    <br> -->
    <small class="text-muted">{{cliente.fecha}}</small>
    <br>
    <!-- <button class="btn btn-info mr-1" [routerLink]="['/cma', cliente.id ]"><i class="fa fa-pencil"></i></button> -->
    <!-- <button class="btn btn-danger" (click)="borrarUnElemento(dj, i)"><i class="fa fa-trash"></i></button> -->
  </div>

            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <!-- <div *ngIf="variablecargando" class="alert aler-info text-center mt-3">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </p>
    <p class="mb-0">Espere por favor</p>
    </div>

    <div *ngIf="!variablecargando && unomodel2.length === 0" class="alert aler-warnin text-center mt-3">
    <h4 class="alert-heading">No hay registro</h4>
    <p>
        <i class="fa fa-exclamation fa-3x fa-fw"></i>
    </p>
    </div> -->